.wrap {
	width: 90%;
	max-width: 500px;
	padding: 40px;
	margin: auto;
	background: #fff;
	border-radius: 20px;
	box-shadow: 7px 9px 1px rgba(128, 128, 128, 0.336);
	box-shadow: -7px -9px 1px rgba(128, 128, 128, 0.336);

}

h3 {
	color: #303f9f;
	text-align: center;
}

.contenedor-formulario {
	width: 100%;
	height: 100%;
	padding: 50px;
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 5, 84, 1) 29%, rgba(9, 9, 121, 0.6167717086834734) 55%, rgba(0, 212, 255, 1) 100%);


}

.contenedor-formulario .formulario {
	width: 100%;
	margin: auto;

}

.contenedor-formulario .formulario .input-group {
	position: relative;
}

.contenedor-formulario .formulario .input-group input[type="email"],
.contenedor-formulario .formulario .input-group input[type="password"] {
	font-size: 16px;
	color: #303f9f;
	width: 100%;
	outline: none;
	margin: 15px;
	background: none;
	border: none;
	border-bottom: 2px solid #bbdefb;
}

.contenedor-formulario .formulario .input-group input[type="email"]:focus,
.contenedor-formulario .formulario .input-group input[type="email"]:active,
.contenedor-formulario .formulario .input-group input[type="password"]:focus,
.contenedor-formulario .formulario .input-group input[type="password"]:active {
	outline: none;
	border-bottom: 2px solid #303f9f;
}

.contenedor-formulario .formulario .input-group input[type="email"].error,
.contenedor-formulario .formulario .input-group input[type="password"].error {
	border-bottom: 2px solid #d32f2f;
}

.contenedor-formulario .formulario .input-group input[type="email"].error+label,
.contenedor-formulario .formulario .input-group input[type="password"].error+label {
	color: #d32f2f;
}

.contenedor-formulario .formulario .input-group label {
	color: #303f9f;
}

.contenedor-formulario .formulario .input-group .label {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-left: 15px;
	font-size: 16px;
	line-height: 16px;
	position: absolute;
	top: -5px;
	left: 0;
}

.contenedor-formulario .formulario .input-group .label .active {
	top: 50px;
	font-size: 12px;
	line-height: 12px;
	color: #b6b6b6;
}

.contenedor-formulario .formulario .input-group.error label {
	color: #d32f2f;
}

.contenedor-formulario .formulario .input-group.error label:hover {
	background: rgba(211, 47, 47, 0.2);
}

.contenedor-formulario .formulario .input-group.error label:before {
	border: 2px solid #d32f2f;
}


.contenedor-formulario .formulario input[type="submit"] {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
	border-radius: 1rem;
	border: 2px solid #f2f2f2;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	padding: 15px;
	width: 100%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.contenedor-formulario .formulario input[type="submit"]:hover {
	background: rgb(2, 0, 36);
	transition: 2s all;
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(9, 114, 121) 35%, rgb(0, 225, 255) 100%);
	border-radius: 1.5rem;
}