<div class="d-flex justify-content-center">
    <form #habitForm="ngForm" (ngSubmit)="createHabit(habitForm)" class="form-control bg-card border-0 p-4">
        <div class="d-flex flex-column">
          <div class="d-flex mb-2">
              <div class="w-75">
                <h3 class="fw-bold text-white m-2 ms-4">Nuevo hábito</h3>
              </div>
              <div class="d-flex justify-content-end align-content-center w-25 h-25">
                <button type="button" class="btn-close btn-close-white mt-2" aria-label="Close" (click)="closeCreateHabit()"></button>
              </div>
          </div>
            <div class="d-flex w-100 gap-3 justify-content-center mb-3">
                <input
                  class="w-100 form-control"
                  name="name"
                  #name="ngModel"
                  [(ngModel)]="habitService.creatingHabit.name"
                  type="text"
                  placeholder="Nombre"
                  >
                  <select
                    placeholder="Frecuencia"  
                    #frequency="ngModel" name="frequency" 
                    [(ngModel)]="habitService.creatingHabit.frequency">
                    <option value="daily">Diario</option>
                    <option value="weekly">Semanal</option>
                    <option value="monthly">Mensual</option>
                  </select>
            </div>  
                   <select
                        class ="form-control mb-3"
                        placeholder="Categoria" 
                        #category="ngModel" name="category" 
                        [(ngModel)]="habitService.creatingHabit.category">
                    
                      <option value="badHabit">Dejar un mal hábito</option>
                      <option value="meditate">Meditación</option>
                      <option value="study">Estudio</option>
                      <option value="art">Arte</option>
                      <option value="sport">Deportes</option>
                      <option value="entertainment">Entretenimiento</option>
                      <option value="social">Social</option>
                      <option value="finance">Finanzas</option>
                      <option value="work">Trabajo</option>
                      <option value="health">Salud</option>
                      <option value="nutrition">Nutrición</option>
                      <option value="aireLibre">Aire libre</option>
                      <option value="home">Hogar</option>
                      <option value="another">Otro</option>
                  </select>
                  <textarea
                    style="resize: none"
                    name="description"
                    id="description"
                    cols="30"
                    rows="5"
                    class="w-100 form-control bg-body text-white"
                    #description="ngModel"
                    [(ngModel)]="habitService.creatingHabit.description"
                    placeholder="Dale un espacio y tiempo a tu nuevo habito Ej: Hoy antes del almuerzo ire a trotar al parque a las 12:30 PM"
                  ></textarea>            
          
        </div>
        <button class="btn btn-success w-100 mt-3 fw-bold" type="submit" >Crear hábito</button>
      </form>
</div>