<div class="container space-work">
    <div class="to-do-form my-5 p-4 ms-auto me-auto bg-white rounded-2">
        <h1 class="title-taks-f text-center">Lista de Tareas</h1>
        <div class="w-100 ms-auto me-auto mt-4">
        <form class="d-flex">
            <input class="f-input-task" type="text" placeholder="Agregar tarea...">
            <button class="btn-add text-white border-0">+</button>
        </form>
        <div class="alert alert-danger mt-2 vacio" role="alert">
            Ingrese una tarea
        </div>
        </div>
        <div class="li-container bg-white w-100 mt-3">
        <ul class="ul-todo p-0"></ul>
        </div>
        <div class="empty" id="empty">
            <p>No hay tareas pendientes</p>
        </div>
    </div>
</div>
