<section id="services" class="services section-bg">
    <div class="container-fluid p-5">

        <div class="section-title">
            <h2 class="fs-1 text-center hero">Features</h2>
            <p class="m-3 text-center mb-5">Con nuestra App, puedes organizar tu trabajo de manera sencilla y eficiente. Prioriza
                tus tareas, establece plazos y haz un seguimiento de tu progreso con facilidad. Simplifica tu
                día a día y alcanza tus objetivos de forma efectiva.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-clock" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="../index.html">Técnica Pomodoro</a></h4>
                    <p class="description">Optimiza, organiza y mide los tiempos entre tareas.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box">
                    <div class="icon"><i class="fa-regular fa-calendar-check" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="../habitos.html">Track de Hábitos</a></h4>
                    <p class="description">Te permite hace seguimiento de tus hábitos diarios o semanales, mide
                        tu evolución.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="icon-box">
                    <div class="icon"><i class="fa-brands fa-rocketchat" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="../to-do-list.html">To do list</a></h4>
                    <p class="description">Herramienta de gestón de tiempo, organiza y prioriza sus tareas
                        pendientes.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="icon-box">
                    <div class="icon"><i class="fa-regular fa-credit-card" style="color: #41cf2e;"></i></div>
                    <h4 class="title"><a href="../calendario.html">Calendario</a></h4>
                    <p class="description">Organiza y gestiona tus fechas de entregas, deathlines y establece un
                        plazo entre tareas.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-globe" style="color: #d6ff22;"></i></div>
                    <h4 class="title"><a href="../roadMapTareas.html">Proyectos</a></h4>
                    <p class="description">Gestiona hábilmente las tareas en grupo y haz seguimiento del
                        progreso.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-calendar-days" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="#">Notas</a></h4>
                    <p class="description">Crea tus presupuestos, toma notas de clases, anota cualquier detalle
                        relevante. </p>
                </div>
            </div>

        </div>
    </div>
</section>
