<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" />
    <link rel="stylesheet" href="./habits.component.css">
</head>

<div class="container m-0">
    <div class="bg-card justify-content-center rounded-3 pt-1 p-2">
        <div class="m-3 ms-5 text-white d-flex justify-content-between">
            <h3 class="">{{actualMonth}} <span class="fw-bolder fs-3">{{actualDay}}</span></h3>
            <div class="d-flex gap-2">
                <button class="btn btn-secondary fw-bold text-white"  (click)="openModalHabit()">Crear</button>
                <button class="btn btn-success fw-bold text-white" (click)="openListHabitModal()">Agregar</button>
            </div>
        </div>

        <table class="table table-hover table-light table-group-divider table-bordered table-striped border-dark border-opacity-10 rounded-3">
            <thead class="bg-dark">
                <th class="text-center text-white">Hora</th>
                <th *ngFor="let day of weekDays" class="text-center text-white" style="table-layout: fixed">{{day}}</th>
            </thead>
            <tbody class="">
                <tr *ngFor="let time of hours" class="text-white text-center bg-body bg-gradient">{{time}}
                  <td *ngFor="let day of weekDays" class="" (click)="openAskHabitModal(day, time)">
                    <ng-container *ngIf="isCellSelected(day, time)">
                      <div class="d-flex">
                        <p class="me-1">{{createdHabitName}}</p>
                        <ng-container *ngIf="habitService.creatingHabit.category === 'badHabit'">
                          <i class="fa-solid fa-ban" style="color: #d21919;"></i>
                        </ng-container>
                        <ng-container *ngIf="habitService.creatingHabit.category === 'study'">
                            <i class="fa-solid fa-graduation-cap" style="color: #ba52e0;"></i> 
                        </ng-container>
                        <ng-container *ngIf="habitService.creatingHabit.category === 'social'">
                          <i class="fa-brands fa-rocketchat" style="color: #53cc1e;"></i>
                        </ng-container>
                        <ng-container *ngIf="habitService.creatingHabit.category === 'finance'">
                            <i class="fa-solid fa-dollar-sign" style="color: #53cc1e;"></i>
                        </ng-container>
                        <ng-container *ngIf="habitService.creatingHabit.category === 'health'">
                            <i class="fa-solid fa-heart-pulse" style="color: #d21919;"></i>
                        </ng-container>
                        <ng-container *ngIf="habitService.creatingHabit.category === 'nutrition'">
                            <i class="fa-brands fa-nutritionix" style="color: #f4a434;"></i>
                        </ng-container>
                        <ng-container *ngIf="habitService.creatingHabit.category === 'openAir'">
                            <i class="fa-solid fa-mountain-sun"></i> 
                        </ng-container>
                        <ng-container *ngIf="habitService.creatingHabit.category === 'home'">
                            <i class="fa-solid fa-house" style="color: #f4a434;"></i>
                        </ng-container>
                      </div>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
</div>